.container {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.colunas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    width: 900px;
    justify-content: center;

}

.cardsFilme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-sizing: border-box;
    margin: 2rem;
    background-color: var(--nude);
    box-shadow: var(--sombra-destaque, --sombra-sombreada);
}

.imagem {
    width: 400px;
    box-sizing: border-box;
    height: 300px;
}

.imagem {
    width: 300px;
    box-sizing: border-box;
}

.titulo {
    background-color: var(--nude);
    width: 220px;
    font-family: 'Questrial', sans-serif;
    margin-bottom: 1rem;

}

.titulo h2 {
    text-align: center;

}

.detalhes {
    background-color: var(--dourado);
    border: 8px solid var(--dourado);
    width: 200px;
    text-align: center;
    margin-bottom: 1rem;
    transition: 5s;
}

.detalhes:hover {
    background-color: var(--mostarda);
    border: 8px solid var(--mostarda);
}

.info {
    margin: 1rem;
    flex-direction: column;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

.info span {
    display: flex;
    text-align: left;
}

.descricao {
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 0 12px;
    font-family: 'Questrial', sans-serif;
}

.descricao p:nth-child(2) {
    margin: 1rem;
    color: var(--vermelho);
    font-weight: bold;
}