.menu {
    justify-content: center;
    align-items: center;
    display: flex;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}


.coluna span {
    background-color: var(--mostarda);
    margin: 1rem;
    padding: 10px 30px;
    width: 300px;
    height: 50px;
    text-align: center;
}

.menu span {
    display: flex;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: var(--fonte-escura);
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
}

.menu span:hover {
    color: #878581;
}